@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Great+Vibes&display=swap");

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(90deg, #302b63, #24243e); */
  /* background-color:#f0f3f4; */
  background-color: #e5e7e9;
  padding: 15px 8%;
  
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
}

 /*  Stylish Logo Design */
.logo {
  font-size: 30px;
  font-family: "Great Vibes", cursive;
  /* color: white; */
  color: #17202a;
  text-transform: capitalize;
  font-style: italic;
  transition: 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
  color: #ff758c;
}

/*  Default Navbar Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  /* color: white; */
  color: #17202a;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.nav-links a:hover,
.nav-links .active {
  background: #ff758c;
  /* color: white; */
  color: #17202a;
}

/*  Hamburger Menu (Hidden on Desktop) */
.hamburger {
  display: none;
  cursor: pointer;
  color:#17202a;
  font-size: 30px;
}

/* Responsive Navbar */
@media (max-width: 900px) {
  .hamburger {
    display: block;
    z-index: 1100;
    font-size: 35px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    background: #302b63;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
    transition: right 0.4s ease-in-out;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links li {
    margin: 15px 0;
  }

  /*  Dark Overlay when Menu Opens */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }
}
