.socialicon{
  display: flex;
  gap: 10px;
padding-top: 25px;
margin:0px;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.socialicon button{
  color: aliceblue;
  transition: all 1s;
  background-color: #041d39;
  border: 1px solid rgb(254, 218, 205);
}
.socialicon button:hover{
 transform: translateY(-10px);
 cursor: pointer;
}
@media screen and (max-width:767px) {
  

.socialicon{
  padding-top: 40px;
  
}
  
  
}